include ../profile-item/profile-item

form.profile__container
  .profile__header
    .profile__avatar
      if avatar
        img(
          src=`https://ya-praktikum.tech/api/v2/resources${avatar}`,
          alt='avatar'
        )
  .profile__main
    +profileItem('Почта')
      | !{ emailField }
    +profileItem('Логин')
      | !{ loginField }
    +profileItem('Имя')
      | !{ firstNameField }
    +profileItem('Фамилия')
      | !{ secondNameField }
    +profileItem('Имя в чате')
      | !{ displayNameField }
    +profileItem('Телефон')
      | !{ phoneField }
  .profile__footer
    .profile__add
      span Обновить аватар
      | !{ avatarInput }
    | !{ saveButton }
