form.auth__form(data-method=method)
  .auth__body
    .auth__row
      | !{ loginField }
    .auth__row
      | !{ passwordField }
  .auth__footer
    .auth__row
      | !{ signinButton }
    .auth__row
      | !{ signupButton }
