form.auth__form(data-method=method)
  .auth__body
    .auth__row
      | !{ login }
    .auth__row
      | !{ password }
  .auth__footer
    .auth__row
      | !{ button }
    .auth__row
      | !{ link }
