form.auth__form(data-method=method)
  .auth__body
    .auth__row
      | !{ email }
    .auth__row
      | !{ login }
    .auth__row
      | !{ firstName }
    .auth__row
      | !{ secondName }
    .auth__row
      | !{ phone }
    .auth__row
      | !{ password }
    .auth__row
      | !{ passwordCheck }
  .auth__footer
    .auth__row
      | !{ button }
    .auth__row
      | !{ link }
