form.auth__form(data-method=method)
  .auth__body
    .auth__row
      | !{ emailField }
    .auth__row
      | !{ loginField }
    .auth__row
      | !{ firstNameField }
    .auth__row
      | !{ secondNameField }
    .auth__row
      | !{ phoneField }
    .auth__row
      | !{ passwordField }
    .auth__row
      | !{ passwordCheckField }
  .auth__footer
    .auth__row
      | !{ signupButton }
    .auth__row
      | !{ signinLink }
