include ../profile-item/profile-item

form.profile__container
  .profile__header
    .profile__avatar
      if avatar
        img(
          src=`https://ya-praktikum.tech/api/v2/resources${avatar}`,
          alt='avatar'
        )
  .profile__main
    +profileItem('Старый пароль')
      | !{ oldPasswordField }
    +profileItem('Новый пароль')
      | !{ newPasswordField }
    +profileItem('Повторите новый пароль')
      | !{ repeatPasswordField }
  .profile__footer
    | !{ saveButton }
