input.input(
  class=classes,
  type=type,
  name=name,
  value=value,
  placeholder=placeholder,
  required=required,
  minlength=minlength,
  maxlength=maxlength,
  pattern=pattern,
  validate=validate
)
