include ../profile-item/profile-item

.profile__container
  .profile__header
    .profile__avatar
      if avatar
        img(
          src=`https://ya-praktikum.tech/api/v2/resources${avatar}`,
          alt='avatar'
        )
    span.profile__title= `${first_name} ${second_name}`
  .profile__main
    if items
      each item in items
        +profileItem(item.name, item.value)
  .profile__footer
    +profileItem
      | !{ changeInfoLink }
    +profileItem
      | !{ changePasswordLink }
    +profileItem
      | !{ logoutLink }
